name: deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /srv/bitrix-hr-app
            
            git fetch origin main
            
            LOCAL=$(git rev-parse HEAD)
            REMOTE=$(git rev-parse origin/main)
            
             if [ "$LOCAL" = "$REMOTE" ]; then
              echo "✅ Already up to date. Exit"
              exit 0
             fi
            git pull origin main
            docker compose build
            docker compose up -d --no-deps

      - name: Notify about error
        if: failure()
        run: |
          curl -s -X POST "https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage" \
          -d chat_id="${{ secrets.TELEGRAM_CHAT_ID }}" \
          -d text="❌[${{ github.event.repository.name }}]: Деплой в ветку ${{ github.ref }} завершился с ошибкой%0A!Комит: ${{ github.event.head_commit.message }}"